In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'pandas.compat'

In [33]:
df=pd.read_csv('train_cleaned.csv')
df.head()

NameError: name 'pd' is not defined

In [7]:
x=(df.drop('Item_Outlet_Sales',axis=1))
y=df['Item_Outlet_Sales']

In [11]:
from sklearn.model_selection import train_test_split as tt
train_x,test_x,train_y,test_y=tt(x,y,random_state=42)

4776     515.3292
7510    3056.0220
5828    1577.9460
5327    1331.6000
4810    1687.1372
4377     111.8544
2280    1151.1682
8198    3401.5722
7514    3570.0196
3463    1523.3504
7851    3528.7400
4595    5273.1360
4766    1765.7016
1541    3091.9752
6162     645.8260
322      958.7520
2031    2556.6720
3847    1657.8420
7301    3728.4800
6820    1258.3620
7092    1454.1072
110      699.0900
8099    5219.8720
4891    6608.0650
1079    2931.5174
8125    3757.1094
7413    1733.7432
5344     135.8232
2291    5159.2842
1164    4819.0604
          ...
1899    1198.4400
4658     543.2928
3005    2679.8450
2734    4848.3556
189     2233.0932
2747     261.6594
2047     645.1602
7849     567.2616
2558     585.9040
6396    4287.7520
3385    3962.8416
4555    2476.7760
1184    1713.7692
6420    6056.1168
5051    2946.1650
5311    1959.4494
2433    1374.2112
6949    1116.5466
769     3006.0870
1685    2055.3246
8322    3271.7412
5578     506.0080
4426    1105.8938
466     1940.8070
6265    1584.6040
5734     280.9676
5191    1301.6390
5390    6145.3340
860     1649.8524
7270     965.4100
Name: Item_Outlet_Sales, Length: 6392, dtype: float64