In [4]:
import pandas as pd
kulfi=['a','b','c','d']
print(pd.Series(kulfi))

0    a
1    b
2    c
3    d
dtype: object

In [6]:
a=[True,False]
print(pd.Series(a))

0     True
1    False
dtype: bool

In [11]:
pd.Series(kulfi).values

array(['a', 'b', 'c', 'd'], dtype=object)

In [9]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
s.dtype

dtype('O')

In [31]:
c=pd.Series(kulfi)
c
d=[1,2,3,4]
e=pd.Series(d)
#e.sum()
#e.mean()
e.product()

24

In [32]:
f=['one','two','three']
f1=['a','b','c']
pd.Series(f,f1)

a      one
b      two
c    three
dtype: object

In [33]:
pd.Series(index=f,data=f1)

one      a
two      b
three    c
dtype: object

In [57]:
pd.read_csv('file1.csv')

  ankit anushka sharma
0  sonu   rahul  kumar
1  golu   rohit  dhoni

In [59]:
a=pd.read_csv('file1.csv',squeeze=True,usecols=['anushka'])
a
a.head(1)

0    rahul
1    rohit
Name: anushka, dtype: object

In [46]:
a.tail(1)

1    rohit
Name: anushka, dtype: object

In [54]:
a.name='chaman'
a.name

'chaman'

In [60]:
a.is_unique

True

In [85]:
d=pd.read_csv('file7.csv')
d
d.sort_values(by=['marks']).head()

   marks
3     11
1     22
2     33
4     33
6     44

In [80]:
d.sort_values(by=['marks'],inplace=True)