In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('james bond.csv')
df=df.set_index(['Film'])
df.sort_index(inplace=True)

In [4]:
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,Unnamed: 7
Film,,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,NaN
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,NaN

In [5]:
#df.drop(['Unnamed: 7'],axis=1,inplace=True)
#df.drop(['Die Another Day'])
df.head()
actor=df.pop('Actor')
actor

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [6]:
casino=df.pop('Casino Royale')
casino

KeyError: 'Casino Royale'

In [ ]:
del df['Year']
df.head()

In [ ]:
df.head()

In [ ]:
del df['Budget']
df.head()

In [ ]:
del df['Film']

In [ ]:
df=pd.read_csv('james bond.csv')
df=df.set_index(['Film'])
df.sort_index(inplace=True)
del df['Unnamed: 7']

In [ ]:
df.head()

In [ ]:

df.sample(frac=.50)

In [ ]:
df.sample(n=2,axis=1)

In [ ]:
df.nsmallest(3,'Box Office')

In [ ]:
df['Box Office'].nlargest(4)

In [ ]:
df.where(df['Actor']=='Roger Moore')

In [7]:
def fun(a):
    return str(a)+'BILLIONS'
df['Box Office']=df['Box Office'].apply(fun)

In [8]:
def fun1(a):
    return str(a)+'trillions'
for i in df.columns:
    df[i]=df[i].apply(fun1)
df.head()

,Year,Director,Box Office,Budget,Bond Actor Salary,Unnamed: 7
Film,,,,,,
A View to a Kill,1985trillions,John Glentrillions,275.2BILLIONStrillions,54.5trillions,9.1trillions,nantrillions
Casino Royale,2006trillions,Martin Campbelltrillions,581.5BILLIONStrillions,145.3trillions,3.3trillions,nantrillions
Casino Royale,1967trillions,Ken Hughestrillions,315.0BILLIONStrillions,85.0trillions,nantrillions,nantrillions
Diamonds Are Forever,1971trillions,Guy Hamiltontrillions,442.5BILLIONStrillions,34.7trillions,5.8trillions,nantrillions
Die Another Day,2002trillions,Lee Tamahoritrillions,465.4BILLIONStrillions,154.2trillions,17.9trillions,nantrillions

In [11]:
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,Unnamed: 7
Film,,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,NaN
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,NaN

In [15]:
def func(row):
    a=row[1]
    b=row[4]
    if a=='Roger Moore':
        return 'good'
    elif a=='Daniel Craig' or b==int(581.5):
        return 'fine'
    else:
        return 'not good'
    

df.apply(func,axis=1)

Film
A View to a Kill                       good
Casino Royale                          fine
Casino Royale                      not good
Diamonds Are Forever               not good
Die Another Day                    not good
Dr. No                             not good
For Your Eyes Only                     good
From Russia with Love              not good
GoldenEye                          not good
Goldfinger                         not good
Licence to Kill                    not good
Live and Let Die                       good
Moonraker                              good
Never Say Never Again              not good
Octopussy                              good
On Her Majesty's Secret Service    not good
Quantum of Solace                      fine
Skyfall                                fine
Spectre                                fine
The Living Daylights               not good
The Man with the Golden Gun            good
The Spy Who Loved Me                   good
The World Is Not Enough            not good
Thunderball                        not good
Tomorrow Never Dies                not good
You Only Live Twice                not good
dtype: object

In [16]:
import sklearn